.footer {
  position: relative;
  background: linear-gradient(150deg, hsl(240, 7%, 12%), hsl(235, 35%, 21%));
  padding-block: 96px;
  padding-bottom: 120px;
}
.footer__header {
  display: grid;
  margin-bottom: 64px;
  gap: 40px;
  place-items: center;
}
.footer__logo-link {
  margin-bottom: 64px;
  margin-inline: auto;
}
.footer__header-info {
  display: grid;
  gap: 8px;
}
.footer__header-info > * {
  font-weight: 300;
}
.footer__header-phone {
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 16px;
}
.footer__container,
.footer__header,
.footer__header-info,
.footer__header-phone {
  color: var(--white);
}
.footer__body {
  display: grid;
  gap: 32px;
}
.footer__header-phone {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__header-phone > img {
  height: 2cap;
}
.footer__list {
  display: grid;
  gap: 8px;
  text-align: center;
}
.footer__list:hover .footer__link {
  opacity: 0.5;
}
.footer__list .footer__link:hover {
  opacity: 1;
}
.footer__link {
  color: var(--white);
  letter-spacing: 1px;
  transition: 0.3s;
  font-weight: 300;
}
.footer__copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: 16px;
  background-color: var(--black);
}
.footer__copyright p {
  color: var(--white);
}
.footer__logos-inner-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.footer__logos-inner-wrapper > * {
  flex: 1;
  width: 100%;
}
.footer__logos-inner-wrapper > img:first-child {
  width: 46%;
}
.footer__list-nav {
  width: 250px;
  margin-inline: auto;
}
.footer__list-nav-item {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  outline: 1px solid hsla(0, 0%, 100%, 0.127);
  padding-block: 4px;
  padding-left: 12px;
  padding-right: 4px;
  border-radius: 4px;
}
.footer__list-nav-item a {
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: left;
}
.footer__list-nav-item img {
  aspect-ratio: 1;
  width: 15vw;
}
.footer__list-nav-link {
  color: var(--white);
}
@media (min-width: 1200px) {
  .footer__header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 64px;
    gap: 40px;
    place-items: center;
  }
  .footer__list {
    text-align: start;
    gap: 32px;
  }
  .footer__list-nav {
    width: 540px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .footer__list-nav-item img {
    width: min(15vw, 48px);
  }
  .footer__list-nav-item {
    width: 250px;
  }
}
@media (min-width: 1400px) {
  .footer__header {
    gap: 100px;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 64px;
  }
  .footer__body {
    display: contents;
  }
  .footer__list {
    text-align: left;
  }
  .footer__list-nav {
    width: 660px;
  }
  .footer .container {
    width: min(100% - 32px, 1304px);
  }
}
