.footer {
  position: relative;
  background: linear-gradient(150deg, hsl(240, 7%, 12%), hsl(235, 35%, 21%));
  padding-block: 96px;
  padding-bottom: 120px;
}
.footer__header {
  display: grid;
  margin-bottom: 64px;

  place-items: center;
  perspective: 1000px;
}
.footer__logo-link {
  margin-bottom: 64px;
  margin-inline: auto;
}
.footer__header-info {
  display: grid;
  gap: 8px;
}
.footer__header-info > * {
  font-weight: 300;
}
.footer__header-phone {
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 16px;
}
.footer__container,
.footer__header,
.footer__header-info,
.footer__header-phone {
  color: var(--white);
}
.footer__body {
  display: grid;
  gap: 32px;
}
.footer__header-phone {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__header-phone > img {
  height: 2cap;
}
.footer__list {
  display: grid;
  gap: 8px;
  text-align: center;
}
.footer__list:hover .footer__link {
  opacity: 0.5;
}
.footer__list .footer__link:hover {
  opacity: 1;
}
.footer__link {
  color: var(--white);
  letter-spacing: 1px;
  transition: 0.3s;
  font-weight: 300;
}
.footer__copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: 16px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.footer__copyright a {
  transition: 0.2s;
  color: hsl(221, 100%, 77%);
}
.footer__copyright a:hover {
  color: hsl(221, 100%, 69%);
}
.footer__copyright p {
  color: var(--white);
}
.footer__logos-inner-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.footer__logos-inner-wrapper > * {
  flex: 1;
  width: 100%;
}
.footer__logos-inner-wrapper > img:first-child {
  width: 46%;
}
@media (min-width: 1400px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__body {
    display: contents;
  }
  .footer__list {
    text-align: left;
  }
  .footer__copyright {
    flex-direction: row;
  }
}
